<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Django + MySQL</title>
</head>
<body>

<h1>Users</h1>
<p>

<form action="" method="post">
    <fieldset id="search">
        <legend>Data for searching User by name</legend>
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Search">
        <div>*</div>
        <div>Для поиска с начала заданной подстроки необходимо написать после нее "_"</div>
        <div>Для поиска с конца заданной подстроки необходимо написать до нее "_"</div>
        <div>Если место вхождения данной подстроки не имеет значения, то необходимо написать только строку</div>
    </fieldset>

</form>
</body>
</html>
